/* Base */
:root {
  --primary: #4f897b;
  --secondary: #f07f1b;
  --highlighter: #5ea796;
}

html {
  overflow-x: hidden; }

body {
  line-height: 1.7;
  color: gray;
  font-weight: 400;
  font-size: 1rem; }

::-webkit-scrollbar {
  width: 5px;
}
::-webkit-scrollbar-track {
  background-color: transparent;
  
}
::-webkit-scrollbar-thumb {
  background-color: var(--secondary);
  background-image: none;
  border-radius: 50px;
}

::-moz-selection {
  background: #000;
  color: #fff; }

::selection {
  background: #000;
  color: #fff; }

a {
  color: var(--primary);
  text-decoration: none;
  -webkit-transition: .3s all ease;
  -o-transition: .3s all ease;
  transition: .3s all ease; }
a:hover {
  color: var(--secondary);
}

h1, h2, h3, h4, h5,
.h1, .h2, .h3, .h4, .h5 {
  font-family: "Arima", system-ui; }

.border-2 {
  border-width: 2px; }

.text-black {
  color: #000 !important; }

.bg-black {
  background: #000 !important; }

.color-black-opacity-5 {
  color: rgba(0, 0, 0, 0.5); }

.color-white-opacity-5 {
  color: rgba(255, 255, 255, 0.5); }

body:after {
  -webkit-transition: .3s all ease-in-out;
  -o-transition: .3s all ease-in-out;
  transition: .3s all ease-in-out; }

.offcanvas-menu {
  position: relative; }
  .offcanvas-menu:after {
    position: absolute;
    content: "";
    bottom: 0;
    left: 0;
    top: 0;
    right: 0;
    z-index: 999;
    background: rgba(0, 0, 0, 0.2); }

.btn {
  font-size: 12px;
  font-weight: 600;
  text-transform: uppercase;
  border-radius: 30px;
  padding: 10px 30px; }
  .btn:hover, .btn:active, .btn:focus {
    outline: none;
    -webkit-box-shadow: none !important;
    box-shadow: none !important; }
  .btn.btn-primary {
    background: var(--secondary);
    border-color: var(--secondary);
    color: #fff; }
    .btn.btn-primary:hover {
      background: transparent;
      border-color: var(--secondary);
      color: var(--secondary); }
    .btn.btn-primary.btn-black--hover:hover {
      background: #666666;
      color: #fff; }
  .btn.btn-white {
    border-color: #fff;
    color: var(--secondary);
    background: #fff; }
    .btn.btn-white:hover {
      background: transparent;
      border-color: #fff;
      color: #fff; }
  .btn.btn-outline-white {
    border-color: #fff;
    color: #fff; }
    .btn.btn-outline-white:hover {
      background: #fff;
      color: var(--secondary); }

.line-height-1 {
  line-height: 1 !important; }

.bg-black {
  background: #000; }

.site-section {
  padding: 2.5em 0; }
  @media (min-width: 768px) {
    .site-section {
      padding: 8em 0; } }
  .site-section.site-section-sm {
    padding: 4em 0; }

.site-section-heading {
  padding-bottom: 20px;
  margin-bottom: 0px;
  position: relative;
  font-size: 2.5rem; }
  @media (min-width: 768px) {
    .site-section-heading {
      font-size: 3rem; } }

.bg-text-line {
  display: inline;
  background: #000;
  -webkit-box-shadow: 20px 0 0 #000, -20px 0 0 #000;
  box-shadow: 20px 0 0 #000, -20px 0 0 #000; }

.text-black-opacity-05 {
  color: rgba(0, 0, 0, 0.5); }

.text-black-opacity-05 {
  color: rgba(0, 0, 0, 0.5); }

.hover-bg-enlarge {
  overflow: hidden;
  position: relative; }
  @media (max-width: 991.98px) {
    .hover-bg-enlarge {
      height: auto !important; } }
  .hover-bg-enlarge > div {
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
    -webkit-transition: .8s all ease-in-out;
    -o-transition: .8s all ease-in-out;
    transition: .8s all ease-in-out; }
  .hover-bg-enlarge:hover > div, .hover-bg-enlarge:focus > div, .hover-bg-enlarge:active > div {
    -webkit-transform: scale(1.2);
    -ms-transform: scale(1.2);
    transform: scale(1.2); }
  @media (max-width: 991.98px) {
    .hover-bg-enlarge .bg-image-md-height {
      height: 300px !important; } }

.bg-image {
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed; }
  .bg-image.overlay {
    position: relative; }
    .bg-image.overlay:after {
      position: absolute;
      content: "";
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      z-index: 0;
      width: 100%;
      background: rgba(0, 0, 0, 0.7); }
  .bg-image > .container {
    position: relative;
    z-index: 1; }

@media (max-width: 991.98px) {
  .img-md-fluid {
    max-width: 100%; } }

@media (max-width: 991.98px) {
  .display-1, .display-3 {
    font-size: 3rem; } }

.play-single-big {
  width: 90px;
  height: 90px;
  display: inline-block;
  border: 2px solid #fff;
  color: #fff !important;
  border-radius: 50%;
  position: relative;
  -webkit-transition: .3s all ease-in-out;
  -o-transition: .3s all ease-in-out;
  transition: .3s all ease-in-out; }
  .play-single-big > span {
    font-size: 50px;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-40%, -50%);
    -ms-transform: translate(-40%, -50%);
    transform: translate(-40%, -50%); }
  .play-single-big:hover {
    width: 120px;
    height: 120px; }

.overlap-to-top {
  margin-top: -150px; }

.ul-check {
  margin-bottom: 50px; }
  .ul-check li {
    position: relative;
    padding-left: 35px;
    margin-bottom: 15px;
    line-height: 1.5; }
    .ul-check li:before {
      left: 0;
      font-size: 20px;
      top: -.3rem;
      font-family: "icomoon";
      content: "\e5ca";
      position: absolute; }
  .ul-check.white li:before {
    color: #fff; }
  .ul-check.success li:before {
    color: #71bc42; }
  .ul-check.primary li:before {
    color: var(--secondary); }
  .ul-check li.remove {
    text-decoration: line-through;
    color: #dee2e6; }
    .ul-check li.remove:before {
      color: #dee2e6; }

.select-wrap, .wrap-icon {
  position: relative; }
  .select-wrap .icon, .wrap-icon .icon {
    position: absolute;
    right: 10px;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    font-size: 22px; }
  .select-wrap select, .wrap-icon select {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    width: 100%; }

/* Navbar */
.site-logo {
  font-size: 20px;
  font-weight: bold; }

.site-navbar {
  margin-bottom: 0px;
  z-index: 1999;
  position: absolute;
  top: 0;
  width: 100%; }
  .site-navbar .site-logo {
    position: relative;
    left: 0; }
  .site-navbar .site-navigation .site-menu {
    margin-bottom: 0; }
    .site-navbar .site-navigation .site-menu .active {
      color: var(--secondary);
      display: inline-block;
      padding: 20px 20px; }
    .site-navbar .site-navigation .site-menu a {
      text-decoration: none !important;
      display: inline-block; }
    .site-navbar .site-navigation .site-menu > li {
      display: inline-block; }
      .site-navbar .site-navigation .site-menu > li > a {
        padding: 20px 20px;
        color: #000;
        display: inline-block;
        text-decoration: none !important; }
        .site-navbar .site-navigation .site-menu > li > a:hover {
          color: var(--secondary); }
      .site-navbar .site-navigation .site-menu > li.social > a {
        top: 15px;
        display: inline-block;
        position: relative;
        width: 20px;
        height: 20px;
        border: 1px solid #efefef;
        border-radius: 50%; }
        .site-navbar .site-navigation .site-menu > li.social > a span {
          position: absolute;
          left: 50%;
          top: 50%;
          -webkit-transform: translate(-50%, -50%);
          -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%); }
        .site-navbar .site-navigation .site-menu > li.social > a:hover {
          color: var(--secondary); }
    .site-navbar .site-navigation .site-menu .has-children {
      position: relative; }
      .site-navbar .site-navigation .site-menu .has-children > a {
        position: relative;
        padding-right: 20px; }
        .site-navbar .site-navigation .site-menu .has-children > a:before {
          position: absolute;
          content: "\e313";
          font-size: 16px;
          top: 50%;
          right: 0;
          -webkit-transform: translateY(-50%);
          -ms-transform: translateY(-50%);
          transform: translateY(-50%);
          font-family: 'icomoon'; }
      .site-navbar .site-navigation .site-menu .has-children .dropdown {
        visibility: hidden;
        opacity: 0;
        top: 100%;
        position: absolute;
        text-align: left;
        border-top: 2px solid var(--secondary);
        -webkit-box-shadow: 0 2px 10px -2px rgba(0, 0, 0, 0.1);
        box-shadow: 0 2px 10px -2px rgba(0, 0, 0, 0.1);
        padding: 0px 0;
        margin-top: 20px;
        margin-left: 0px;
        background: #fff;
        -webkit-transition: 0.2s 0s;
        -o-transition: 0.2s 0s;
        transition: 0.2s 0s; }
        .site-navbar .site-navigation .site-menu .has-children .dropdown.arrow-top {
          position: absolute; }
          .site-navbar .site-navigation .site-menu .has-children .dropdown.arrow-top:before {
            bottom: 100%;
            left: 20%;
            border: solid transparent;
            content: " ";
            height: 0;
            width: 0;
            position: absolute;
            pointer-events: none; }
          .site-navbar .site-navigation .site-menu .has-children .dropdown.arrow-top:before {
            border-color: rgba(136, 183, 213, 0);
            border-bottom-color: #fff;
            border-width: 10px;
            margin-left: -10px; }
        .site-navbar .site-navigation .site-menu .has-children .dropdown a {
          text-transform: none;
          letter-spacing: normal;
          -webkit-transition: 0s all;
          -o-transition: 0s all;
          transition: 0s all;
          color: #000; }
        .site-navbar .site-navigation .site-menu .has-children .dropdown .active {
          color: var(--secondary) !important; }
        .site-navbar .site-navigation .site-menu .has-children .dropdown > li {
          list-style: none;
          padding: 0;
          margin: 0;
          min-width: 210px; }
          .site-navbar .site-navigation .site-menu .has-children .dropdown > li > a {
            padding: 9px 20px;
            display: block; }
            .site-navbar .site-navigation .site-menu .has-children .dropdown > li > a:hover {
              background: #eff1f3;
              color: #000; }
          .site-navbar .site-navigation .site-menu .has-children .dropdown > li.has-children > a:before {
            content: "\e315";
            right: 20px; }
          .site-navbar .site-navigation .site-menu .has-children .dropdown > li.has-children > .dropdown, .site-navbar .site-navigation .site-menu .has-children .dropdown > li.has-children > ul {
            left: 100%;
            top: 0; }
      .site-navbar .site-navigation .site-menu .has-children:hover > a, .site-navbar .site-navigation .site-menu .has-children:focus > a, .site-navbar .site-navigation .site-menu .has-children:active > a {
        color: var(--secondary); }
      .site-navbar .site-navigation .site-menu .has-children:hover, .site-navbar .site-navigation .site-menu .has-children:focus, .site-navbar .site-navigation .site-menu .has-children:active {
        cursor: pointer; }
        .site-navbar .site-navigation .site-menu .has-children:hover > .dropdown, .site-navbar .site-navigation .site-menu .has-children:focus > .dropdown, .site-navbar .site-navigation .site-menu .has-children:active > .dropdown {
          -webkit-transition-delay: 0s;
          -o-transition-delay: 0s;
          transition-delay: 0s;
          margin-top: 0px;
          visibility: visible;
          opacity: 1; }

.site-mobile-menu {
  width: 300px;
  position: fixed;
  right: 0;
  z-index: 2000;
  padding-top: 20px;
  background: #fff;
  height: calc(100vh);
  -webkit-transform: translateX(110%);
  -ms-transform: translateX(110%);
  transform: translateX(110%);
  -webkit-box-shadow: -10px 0 20px -10px rgba(0, 0, 0, 0.1);
  box-shadow: -10px 0 20px -10px rgba(0, 0, 0, 0.1);
  -webkit-transition: .3s all ease-in-out;
  -o-transition: .3s all ease-in-out;
  transition: .3s all ease-in-out; }
  .offcanvas-menu .site-mobile-menu {
    -webkit-transform: translateX(0%);
    -ms-transform: translateX(0%);
    transform: translateX(0%); }
  .site-mobile-menu .site-mobile-menu-header {
    width: 100%;
    float: left;
    padding-left: 20px;
    padding-right: 20px; }
    .site-mobile-menu .site-mobile-menu-header .site-mobile-menu-close {
      float: right;
      margin-top: 8px; }
      .site-mobile-menu .site-mobile-menu-header .site-mobile-menu-close span {
        font-size: 30px;
        display: inline-block;
        padding-left: 10px;
        padding-right: 0px;
        line-height: 1;
        cursor: pointer;
        -webkit-transition: .3s all ease;
        -o-transition: .3s all ease;
        transition: .3s all ease; }
    .site-mobile-menu .site-mobile-menu-header .site-mobile-menu-logo {
      float: left;
      margin-top: 10px;
      margin-left: 0px; }
      .site-mobile-menu .site-mobile-menu-header .site-mobile-menu-logo a {
        display: inline-block;
        text-transform: uppercase; }
        .site-mobile-menu .site-mobile-menu-header .site-mobile-menu-logo a img {
          max-width: 70px; }
        .site-mobile-menu .site-mobile-menu-header .site-mobile-menu-logo a:hover {
          text-decoration: none; }
  .site-mobile-menu .site-mobile-menu-body {
    overflow-y: scroll;
    -webkit-overflow-scrolling: touch;
    position: relative;
    padding: 0 20px 20px 20px;
    height: calc(100vh - 52px);
    padding-bottom: 150px; }
  .site-mobile-menu .site-nav-wrap {
    padding: 0;
    margin: 0;
    list-style: none;
    position: relative; }
    .site-mobile-menu .site-nav-wrap a {
      padding: 10px 20px;
      display: block;
      position: relative;
      color: #212529; }
      .site-mobile-menu .site-nav-wrap a:hover {
        color: var(--secondary); }
    .site-mobile-menu .site-nav-wrap li {
      position: relative;
      display: block; }
      .site-mobile-menu .site-nav-wrap li .active {
        color: var(--secondary); }
    .site-mobile-menu .site-nav-wrap .social {
      display: inline-block; }
      .site-mobile-menu .site-nav-wrap .social:hover {
        color: var(--secondary); }
    .site-mobile-menu .site-nav-wrap .arrow-collapse {
      position: absolute;
      right: 0px;
      top: 10px;
      z-index: 20;
      width: 36px;
      height: 36px;
      text-align: center;
      cursor: pointer;
      border-radius: 50%; }
      .site-mobile-menu .site-nav-wrap .arrow-collapse:hover {
        background: #f8f9fa; }
      .site-mobile-menu .site-nav-wrap .arrow-collapse:before {
        font-size: 12px;
        z-index: 20;
        font-family: "icomoon";
        content: "\f078";
        position: absolute;
        top: 50%;
        left: 50%;
        -webkit-transform: translate(-50%, -50%) rotate(-180deg);
        -ms-transform: translate(-50%, -50%) rotate(-180deg);
        transform: translate(-50%, -50%) rotate(-180deg);
        -webkit-transition: .3s all ease;
        -o-transition: .3s all ease;
        transition: .3s all ease; }
      .site-mobile-menu .site-nav-wrap .arrow-collapse.collapsed:before {
        -webkit-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%); }
    .site-mobile-menu .site-nav-wrap > li {
      display: block;
      position: relative;
      float: left;
      width: 100%; }
      .site-mobile-menu .site-nav-wrap > li.social {
        float: none !important;
        width: auto !important; }
      .site-mobile-menu .site-nav-wrap > li > a {
        padding-left: 20px;
        font-size: 20px; }
      .site-mobile-menu .site-nav-wrap > li > ul {
        padding: 0;
        margin: 0;
        list-style: none; }
        .site-mobile-menu .site-nav-wrap > li > ul > li {
          display: block; }
          .site-mobile-menu .site-nav-wrap > li > ul > li > a {
            padding-left: 40px;
            font-size: 16px; }
          .site-mobile-menu .site-nav-wrap > li > ul > li > ul {
            padding: 0;
            margin: 0; }
            .site-mobile-menu .site-nav-wrap > li > ul > li > ul > li {
              display: block; }
              .site-mobile-menu .site-nav-wrap > li > ul > li > ul > li > a {
                font-size: 16px;
                padding-left: 60px; }
    .site-mobile-menu .site-nav-wrap[data-class="social"] {
      float: left;
      width: 100%;
      margin-top: 30px;
      padding-bottom: 5em; }
      .site-mobile-menu .site-nav-wrap[data-class="social"] > li {
        width: auto; }
        .site-mobile-menu .site-nav-wrap[data-class="social"] > li:first-child a {
          padding-left: 15px !important; }

.sticky-wrapper {
  position: absolute;
  z-index: 100;
  width: 100%; }
  .sticky-wrapper .site-navbar {
    -webkit-transition: .3s all ease;
    -o-transition: .3s all ease;
    transition: .3s all ease; }
  .sticky-wrapper .site-navbar .site-menu-toggle {
    color: #fff; 
    font-size: 35px;
  }
  .sticky-wrapper .site-navbar .site-logo a {
    color: #fff; }
  .sticky-wrapper .site-navbar .site-menu > li > a {
    color: rgba(255, 255, 255, 0.7) !important; }
    .sticky-wrapper .site-navbar .site-menu > li > a:hover, .sticky-wrapper .site-navbar .site-menu > li > a.active {
      color: #fff !important; }
  .sticky-wrapper.is-sticky .site-navbar {
    background: #fff;
    border-bottom: 1px solid transparent;
    -webkit-box-shadow: 4px 0 20px -5px rgba(0, 0, 0, 0.1);
    box-shadow: 4px 0 20px -5px rgba(0, 0, 0, 0.1); }
    .sticky-wrapper.is-sticky .site-navbar .site-menu-toggle {
      color: #000; }
    .sticky-wrapper.is-sticky .site-navbar .site-logo a {
      color: #000; }
    .sticky-wrapper.is-sticky .site-navbar .site-menu > li > a {
      color: #000 !important; }
      .sticky-wrapper.is-sticky .site-navbar .site-menu > li > a:hover, .sticky-wrapper.is-sticky .site-navbar .site-menu > li > a.active {
        color: var(--secondary) !important; }

/* Blocks */
.slide-item, .cover {
  overflow: hidden;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat; }
.slide-item.overlay, .cover.overlay {
  position: relative; }
.slide-item.overlay:before, .cover.overlay:before {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1;
  content: "";
  position: absolute;
  background: rgba(0, 0, 0, 0.2); }
.slide-item > .container, .cover > .container {
  position: relative;
  z-index: 2; }
.slide-item, .slide-item > .container > .row, .cover, .cover > .container > .row {
  height: 100vh;
  min-height: 760px; }
.slide-item .heading, .cover .heading {
  font-size: 50px;
  font-weight: 700;
  color: #fff; }
  .slide-item p{
    font-weight: 400;
  }

.site-section {
  padding: 90px 0; 
}

.section-heading h2{
  color: var(--primary);
  font-weight: 800;
  font-size: 46px;
  letter-spacing: 2px;
}
.section-heading h2 span{
  color: var(--highlighter);
}

.section-heading h6{
  letter-spacing: 1.5px;
}
.section-heading h6::after{
  content: '';
  border-bottom: 2px solid var(--highlighter);
  border-radius: 10px;
  width: 70px;
  display: block;
  margin: 20px auto 0;
}

.section-heading.text-start h6::after{
  margin: 10px 0 auto 0;
}

.feature-section .card{
  flex-direction: row;
  padding: 15px 10px;
  border: none;
  border-radius: 20px;
  margin-bottom: 20px;
  transition: all 0.4s ease-in-out;
}
.feature-section .card:hover{
  box-shadow: 0px 0px 20px 5px #00000025;
  cursor: pointer;
}

.feature-section .card-content h5{
  font-weight: 700;
  font-size: 16px;
  letter-spacing: 1.5px;
}
.feature-section .card-content h5::after{
  content: '';
  border-bottom: 2px solid var(--highlighter);
  border-radius: 10px;
  width: 70px;
  display: block;
  margin: 8px auto 0 0;
  transition: all 0.4s ease-in-out;
}
.feature-section .card:hover .card-content h5::after{
  width: 95%;
}

.feature-section .card-content p{
  font-size: 14px;
}
.feature-section .card-content a{
  font-size: 16px;
  font-weight: 600;
  align-items: center;
}
.feature-section .card-content i{
  color: var(--primary);
  transition: all 0.36s ease-in-out;
}
.feature-section .card-content a:hover i{
  color: var(--secondary);
  margin-left: 5px;
}

.about-section .section-heading h2{
  letter-spacing: normal;
}

/* Why Us Section Styles */

.why-us-section .section-heading h6::after{
  width: 120px;
}

.why-us-section .img-bg {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 25px;
  height: 580px;
  width: 100%; 
}


.why-us-section #headingFour {
  border-bottom: none;
}

.why-us-section .accordion-item:last-of-type .accordion-collapse {
  border-top: none;
}

/* Accordion Styles */

.accordion {
  --bs-accordion-border-radius: 10px;
  --bs-accordion-inner-border-radius: 10px;
  --bs-accordion-bg: #fafafa00;
  --bs-accordion-border-color: none;
  border: none !important;
}
.accordion-button:focus{
  box-shadow: none;
}
.accordion-button {
  box-shadow: none;
  font-size: 17px;
  font-weight: 500;
  color: #000;
  padding-left: 0;
}

.accordion-button:not(.collapsed) {
  color: var(--secondary);
  background-color: transparent;
  outline: none;
}

.accordion-button::after {
  display: none;
}

.accordion-header {
  border-bottom: none;
  position: relative;
  display: inline-block;
}

.accordion-header::after{
  content: '';
  border-bottom: 2px solid var(--highlighter);
  border-radius: 10px;
  width: 80%;
  position: absolute;
  display: block;
  bottom: 15px;
  left: 40px;
  transition: all 0.4s ease-in-out;
  z-index: 3;
}

.accordion-button:not(.collapsed)::before {
  transform: rotate(90deg);
}

.accordion-button::before {
  flex-shrink: 0;
  width: 30px;
  height: 30px;
  margin-left: 0;
  margin-top: 5px;
  margin-right: 10px;
  content: "";
  /* background-color: var(--primary); */
  border-radius: 50%;
  background-image: url("/images/icons/accordion.png");
  background-repeat: no-repeat;
  background-size: 30px;
  transition: transform 0.2s ease-in-out;
}

.accordion-body{
  font-size: 15px;
  color: #1e1e1e;
  padding-top: 0;
  margin-left: 20px;
}

.about-section .accordion-header {
  display: block;
}

.about-section .about-body{
  height: 50vh;
  overflow-y: scroll;
}

/* .about-section .accordion-header::after{
  width: 100%;
} */

/* Number Counter Styles */

.site-section.count-numbers{
  padding: 40px;
}
.counter-wrap {
  text-align: center; 
}

.counter-wrap span {
  color: rgba(255, 255, 255, 0.7);
  font-weight: 500;
}

.counter-wrap .counter {
  font-size: 60px;
  color: #fff; 
}
.counter-wrap .counter span {
  font-weight: 700;
  font-family: "Arima", system-ui;
  color: white; 
  position: relative;
}

.counter-wrap .counter span::after{
  content: '';
  position: absolute;
  border-bottom: 2px solid var(--highlighter);
  border-radius: 10px;
  width: 70px;
  display: block;
  bottom: 8px;
  left: 0;
  right: 0;
  margin: auto auto;
}


/* Testimonial Styles */

.testimonial {
  background: #fff;
  padding: 20px;
  border: 1px solid #f8f9fa; 
  border-radius: 25px;
  box-shadow: 2px 2px 10px 2px #00000025;
}
.testimonial img {
  width: 80px;
  border-radius: 50%;
  margin-bottom: 30px;
  margin-top: -50px;
  -webkit-box-shadow: 0 15px 30px 0 rgba(0, 0, 0, 0.05);
  box-shadow: 0 15px 30px 0 rgba(0, 0, 0, 0.05); 
}
.testimonial blockquote {
  font-size: 18px;
  font-family: "Arima", system-ui;
  font-style: italic; 
}
.testimonial blockquote .quote {
  color: #000; 
}
.testimonial blockquote .author {
  color: #aaa;
  font-family: "Open Sans", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  font-size: 12px; 
}

.blog-entry {
  text-align: center; 
  transition: all 0.4s ease-in-out;
}
.blog-entry:hover{
  cursor: pointer;
  transform: translateY(-10px);
}
.blog-entry h2 a{
  color: var(--primary);
  font-size: 16px;
  font-weight: 700; 
}
.blog-entry h2 a::after{  
  content: '';
  border-bottom: 2px solid #5ea79648;
  border-radius: 10px;
  width: 70px;
  display: block;
  margin: 5px auto 0;
}
.blog-entry .img-fluid {
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
}

.blog-entry .post-meta {
  background: #fff;
  padding: 2px 4px 10px;
  -webkit-box-shadow: 0 15px 30px 0 rgba(0, 0, 0, 0.05);
  box-shadow: 0 15px 30px 0 rgba(0, 0, 0, 0.05);
  margin-bottom: 30px;
  text-align: center;
  font-size: 13px; 
  border-bottom-left-radius: 25px;
  border-bottom-right-radius: 25px;
}
.blog-entry .post-meta [class*="icon-"] {
  color: var(--secondary); 
}

/* Contact-Us */
.contact-section{
  background-image: url(/images/contact.jpg);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  padding-bottom: 50px;
}

.form-control {
  height: 50px;
  background-color: transparent;
  border-radius: 25px;
  font-family: "Arima", system-ui;
}
.form-control:active, .form-control:focus {
  border-color: var(--secondary);
  background-color: #fff; 
}
.form-control:hover, .form-control:active, .form-control:focus {
  -webkit-box-shadow: none !important;
  box-shadow: none !important; 
}
.form-group textarea{
  min-height: 100px;
}


/* Footer */
.site-footer {
  padding: 4em 0 0em; 
}
@media (min-width: 768px) {
  .site-footer {
    padding: 4em 0 0em; } 
}
.site-footer .border-top {
  border-top: 1px solid rgba(255, 255, 255, 0.1) !important; }
.site-footer .social a {
  text-decoration: none;
  cursor: pointer; 
  position: relative;
  padding: 10px 20px;
  margin-right: 10px;
  border: 1px solid var(--highlighter);
  border-radius: 50%;
}
.site-footer .social a span {
  position: absolute;
  left: 50%;
  top: 50%;
  color: var(--highlighter);
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
.site-footer .social a:hover span{
  color: #fff;
}
.site-footer .social a:hover {
  background-color: var(--highlighter);
}

.site-footer p {
  color: rgba(0, 0, 0, 0.7); }
.site-footer h2, .site-footer h3, .site-footer h4, .site-footer h5 {
  color: #000; }
.site-footer a {
  color: rgba(0, 0, 0, 0.7);
  text-decoration: none; }
  .site-footer a:hover {
    color: black; }
.site-footer ul li {
  margin-bottom: 10px; }
.site-footer .footer-heading {
  font-size: 16px;
  font-weight: 700;
  color: #000; }

.footer-widget{
  align-items: center;
  padding-bottom: 20px;
  margin-bottom: 30px;
  border-bottom: 2px solid var(--primary);
}

.widget-2, .widget-3, .widget-4{
  padding-left: 30px;
  border-left: 2px solid var(--primary);
}

.footer-widget h6{
  color: var(--secondary);
  font-size: 14px;
  font-weight: 700;
}
.footer-widget a{text-decoration: none;}
.footer-widget h5{
  font-size: 16px;
  font-weight: 800;
  margin-bottom: 0;
}

.copyright, .copyright a{
  font-weight: 600;
  color: #fff !important;
}
.copyright a{
  text-decoration: none;
}
.copyright a:hover{
  color: var(--secondary) !important;
}

/*PRELOADING------------ */
#overlayer {
  width: 100%;
  height: 100%;
  position: fixed;
  z-index: 7100;
  background: #fff;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0; }

.loader {
  z-index: 7700;
  position: fixed;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%); }
